@use 'variables';

%button {
    color: variables.$colorbleufonce;
    background-color: variables.$colorgristrespale;
    border: 2px solid variables.$colorgristrespale;
    text-align: center;
    &:hover, &:focus {
        cursor: pointer;
        background-color: variables.$colorgrisfonce;
        color: variables.$colorblanc;
    }
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 3px lightblue;
}
